/* General */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #FFF;
	background: #1d3557;
}

a {
	color: #FFF;
	font-weight: 400;
	text-decoration: none;
	transition: color .5s ease;
}
a:hover {
	color: #00C2FF;
}

strong {
	font-weight: 400;
}

.wrap {
	padding: 12.5rem 7.5rem 6.25rem 7.5rem;
}

h1 {
	margin: 0;
	font-weight: 400;
	font-size: 4rem;
	line-height: 1em;
}
h2 {
	margin: 0;
	font-weight: 200;
	font-size: 1.0rem;
	color: #00C2FF;
}
p {
	margin: 1.5rem auto;
	font-size: 1.5rem;
	font-weight: 200;
	line-height: 1.5;
}
small {
	font-size: 1.25rem;
	font-weight: 200;
}

.text-space {
	margin-top: 6.25rem;




}

.links {
	display: flex;
}

.links a {
	display: block;
	width: 2.75rem;
	margin-right: 0.7rem;
}
.links a svg path {
	transition: fill .5s ease;
	fill: #FFF;
}
.links a:hover svg path {
	fill: #00C2FF;
	transition: fill .5s ease;
}

@media(max-width: 800px) {
	.wrap {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	h1 {
		font-size: 4rem;
	}
	p {
		font-size: 1.8rem
	}
}

@media(max-width: 420px) {
	.wrap {
		padding-top: 6rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	h1 {
		font-size: 3.0rem;
	}

	h2 {
		margin-top: .5rem;
		font-size: .85rem;
	
	}
	p {
		font-size: 1.5rem;
	}
	.text-space {
		margin-top:4rem;
	}
}

@media(min-width: 1000px) {
	.wrap {
		max-width: 50%;
	}
}

@media (min-width: 1400px) {
	.wrap {
		max-width: 50%;
	}
}